@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.space-mono{
    font-family: 'Space Mono', monospace;
}

.table-number{
    font-size: 0.7rem;
    font-weight: 600;
}

.info-text{
    font-size: 0.65rem;
    font-weight: 500;
}

.countdown{
    font-size: 0.65rem;
    font-weight: 300;
}

.main-container{
    height: 90vh;
    max-height: 90vh;
    width: 100%;
}